body {
    height: 100%;
    background-color: #acabb0;
    background-image: linear-gradient(315deg, #e01c34 0%, #acabb0 74%);
}
h1 {
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    padding: 5px;
    border: solid 1px black;
    color: azure;
}
h2 {
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    padding: 5px;
    color: azure;
}
h3 {
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    padding: 5px;
    color: azure;
}
h4 {
    border: solid 1px black;
    color: azure;
    padding: 2px;
    margin-bottom: 40px;
}
img {
    padding: 10px;
}
p {
    text-align: center;
    color: azure;
}

/* GRADIENTES */
.gradL {
    background-image: linear-gradient(to left, black, gray, red);
}